<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}LITRevu{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            {% if user.is_authenticated %}
                <a href="{% url 'feed' %}">Accueil</a>
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Se déconnecter</button>
                </form>
                <a href="{% url 'my_posts' %}">Mes publications</a>
                
            {% else %}
                <a href="{% url 'login' %}">Se connecter</a>
                <a href="{% url 'signup' %}">S’inscrire</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
