{% extends 'base.html' %}
{% load static %}

{% block title %}Suivis{% endblock %}

{% block content %}
<h2>Gérer mes abonnements</h2>

{% if message %}
    <p style="color: red;">{{ message }}</p>
{% endif %}

<h3>Suivre un utilisateur</h3>
<form method="post" onkeypress="if(event.key === 'Enter'){ event.preventDefault(); }">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn">Suivre</button>
</form>


<hr>

<h3>Utilisateurs que vous suivez :</h3>
<ul>
    {% for follow in followed_users %}
        <li>
            {{ follow.followed_user.username }}
            <form action="{% url 'unfollow' follow.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Ne plus suivre</button>
            </form>
        </li>
    {% empty %}
        <li>Vous ne suivez encore personne.</li>
    {% endfor %}
</ul>
{% endblock %}
